# Copyright (c) 2020, 2021 Bobby Noelte
# SPDX-License-Identifier: Apache-2.0

menuconfig THINGSET_RBBQ
	bool "ThingSet RBBQ library"
	default n
	select POLL
	help
	  This option enables the ThingSet RBBQ library.

if THINGSET_RBBQ

module = THINGSET_RBBQ
module-str = rbbq
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.rbbq_local"
#rsource "Kconfig.rbbq_spi"

endif # RBBQ_BY_ZXT
